<div class="container">
  <div class="gifs">
   <div class="row text-center">
     <h1>all_items</h1>
    <% @gifs.each do |gif| %>
    <%= render partial: './gif_column', locals: { gif: gif } %>
    <% end %>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-8 row">
    <%= paginate @gifs %>
  </div>
</div>
