
<div class="container">
  <div class="gifs">
    <div class="row text-center">
      <h1>All Gifs</h1>
        <% @gifs.each do |gif| %>
          <div class="col-xs-9 col-sm-6 col-md-4 col-lg-3  gif">
            <h4 class="gif-title"><%= link_to "#{gif.title}", gif_path(gif.id), class: "gif-title" %></h4>
            <%= image_tag gif.image, width: "250", class: "vertical" %>
          </div>
        <% end %>
  </div>
</div>
