<div class="container">
  <div class="gifs">
    <div class="row text-center">
    <h1>top_items</h1>
    <% @gifs.each do |gif| %>
      <div class="col-xs-9 col-sm-6 col-md-4 col-lg-3  gif">
        <% if gif.active %>
        <h4 class="gif-title"><%= link_to "#{gif.title}", gif_path(gif.id), class: "gif-title" %></h4>
        <%= link_to image_tag(gif.image, class: "gifs", width: "250", height: "200"), gif_path(gif.id) %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
