<h1 class="text-center">charities_we_support</h1>

<div class="col-md-6 col-md-offset-3 charity-message">
<h4>All proceeds from the sale of commit gifs will benefit the charity they are associated with.</h4>
</div>
<div class="container">
    <% @charities.each do |charity| %>
      <div class="col-md-4">
        <h3 class="text-center charity-name"><%= charity.name %></h3>
        <br>
        <div class="text-center">
        <p class="charity-image"><%= link_to image_tag(charity.logo), charity.link, class: "center-block" %></p>
        </div>
        <p class="charity-description"><%= charity.description %></p>
        <p><%= link_to "View all gifs associated with this charity", charity_path(charity), class: "btn btn-default btn-font-size center-block" %></p>
      </div>
    <% end %>
</div>
