<div class="container">
  <div class="gifs">
    <div class="row text-center">
      <h1>all_tags</h1>
      <% @tags.each do |tag| %>
      <div class="container row">
      <h4> <%= link_to "#{tag.name}", tag_path(tag.name) %></h2>
  <% end %>
</div>
</div>
</div>
</div>
