<div class="container text-center">
  <div class="gifs">
    <h1>all_tags</h1>
    <% @tags.each_slice(1) do |row| %>
    <div class="col-md-4">
      <% row.each do |tag| %>
      <h4> <%= link_to "#{tag.name}", tag_path(tag.name) %></h2>
    </div>
      <% end %>
    <% end %>
  </div>
</div>
