<div class="container text-center">
  <div class="gifs">
      <h1>all_tags</h1>
      <% @tags.each do |tag| %>
      <h4> <%= link_to "#{tag.name}", tag_path(tag.name) %></h2>
      <% end %>
      </div>
    </div>
  </div>
</div>
