* {
  font-family: 'Alef', sans-serif;
}


.jumbotron {
  background-image: url(https://images.unsplash.com/uploads/14127101912749510b8ed/82743738?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=16c62adec1b18de2eea1e656fdd197e9);
  background-size: contain;
}
.gif-title {
  min-height: 90px;
  padding-top: 20px;
}

a.gif-title {
  color: black;
}

h1 {
  color: orange !important
  /*Shouldnt use important, but not working otherwise*/
}

footer {
    background-color: #818181;
    height: 100px;
    display: block;
    margin-top: 50px;
}

footer h3 {
  padding-top: 30px;
  color: #FFA500;
}
