* {
  font-family: 'Alef', sans-serif;
}

.jumbotron {
  background-image: url(https://images.unsplash.com/uploads/14127101912749510b8ed/82743738?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=16c62adec1b18de2eea1e656fdd197e9);
  background-size: contain;
}


.gif-title {
  min-height: 50px;
  margin-top: 60px;
  margin-bottom: 0;
  color: black;
}
a.gif-title {
  color: black;
}

h1 {
  color: orange !important;
  /*Shouldnt use important, but not working otherwise*/
}

.gif-show-photo {
  padding-top: 100px;
}

.charity-column {
  padding-top: 35px;
}

.charity-message {
  border-style: dotted;
  border-right: 2px;
  border-left: 2px;
  border-color: #dddddd;
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin: 20px 0px 40px 0px;
}

html, body {
  overflow: auto;
  height: 100%;
  padding-bottom: 50px;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 60px;
 background-color: #818181;
}

footer h3 {
  color: #FFA500;
}

.charity-name {
  min-height: 60px;
}
.charity-image {
  min-height: 150px;
}
.charity-description {
  min-height: 170px;
}
