h1.brand {
  display:inline;
}

h3.brand {
  display:inline-flex;;
  color: #fff;
}

div.jumbotron.hero {
    padding-top: 48px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.gif-links{
  color: #FFA500;
}

.navbar-inverse .navbar-nav > li > a  {
  font-size: larger;
  bacground-color: #fff;
}
