h1.brand {
  font-size: 300%;
  display:inline;
}

h3.brand {
  font-size: 150%;
  display:inline;
  background-color: #999999;
  color: #ffdc3a;
}

.center {
  min-height: 5em;
  vertical-align: middle
}
