<div class="container text-center">
  <h1>.admin_dashboard</h1>
  <div class="col-md-6">
    <h3><%= link_to "View all orders", admin_orders_path, class: "btn btn-primary btn-large" %></h3>
  </div>
  <div class="col-md-6">
  <h3><%= link_to "Add New Gif", new_admin_gif_path, class: "btn btn-primary btn-large" %></h3>
  </div>

  <div class="text-center hero">
    
  </div>
</div>
