<div class="container">
  <h1 class="text-center">.admin_dashboard</h1>
  <h2 class="text-center">Welcome, <%= "#{current_user.username}" %>
  <div class="col-md-6">
    <p><%= link_to "View all orders", admin_orders_path %>
  </div>
  <div class="col-md-6">
  <p><%= link_to "Add New Gif", new_admin_gif_path %>
  </div>
</div>
